.tabsContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.tabButton {
    background-color: #222;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tabButton:hover {
    background-color: #444;
}

.active {
    background-color: #555;
}
