.movieCard {
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    min-width: 200px;
    max-width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.movieCard:hover {
    transform: translateY(-10px);
}

.movieImage {
    width: 100%;
    height: auto;
}

.movieTitle {
    font-size: 18px;
    color: white;
    padding: 10px;
    text-align: center;
}
