/* search-page.module.css */

.pageContainer {
    margin-top: 200px; /* Set top margin */
    width: 100%;
}

.searchContainer {
    margin-top: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Untuk menempatkan suggestion list */
}

.searchInput {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555555;
}

.searchButton {
    display: flex;
    align-items: center;
    padding: 10px 30px; /* Lebar tombol diperlebar */
    font-size: 16px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: darkred;
}

.resultsContainer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Membuat kartu memanjang secara horizontal */
    justify-content: center;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style untuk kartu film */
.movieCard {
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    min-width: 200px;
    max-width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 10px;
    cursor: pointer;
}

.movieCard:hover {
    transform: translateY(-10px);
}

.movieImage {
    width: 100%;
    height: auto;
}

.movieTitle {
    font-size: 18px;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Style untuk auto-suggestion */
.suggestionsList {
    position: absolute;
    top: 48px; /* Sesuaikan dengan tinggi input */
    left: 350px;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #333; /* Warna latar belakang yang lebih gelap */
    border-radius: 4px;
    z-index: 1000;
}

.suggestionItem {
    padding: 10px;
    cursor: pointer;
    color: #fff; /* Warna teks putih agar kontras dengan latar belakang */
}

.suggestionItem:hover {
    background-color: #555; /* Warna latar belakang saat hover */
}

/* Media Queries */
@media (min-width: 320px) {
    .movieCard {
        flex: 1 1 calc(50% - 20px); /* Two cards per row */
    }

    .searchForm {
        flex-direction: column;
    }

    .searchInput {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .suggestionsList {
        left: 24px;
    }

    .searchButton {
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 481px) {
    .movieCard {
        flex: 1 1 calc(33.33% - 20px); /* Three cards per row */
    }

    .searchForm {
        flex-direction: row;
    }

    .searchInput {
        margin-right: 10px;
        margin-bottom: 0;
        width: 300px;
    }

    .suggestionsList {
        left: 620px;
    }

    .searchButton {
        width: auto;
        justify-content: center;
    }
}

@media (min-width: 641px) {
    .movieCard {
        flex: 1 1 calc(25% - 20px); /* Four cards per row */
    }
}

@media (min-width: 961px) {
    .movieCard {
        flex: 1 1 calc(20% - 20px); /* Five cards per row */
    }
}

@media (min-width: 1025px) {
    .movieCard {
        flex: 1 1 calc(16.66% - 20px); /* Six cards per row */
    }
}

@media (min-width: 1281px) {
    .movieCard {
        flex: 1 1 calc(12.5% - 20px); /* Eight cards per row */
    }
}
