.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.webLinks {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menuButton {
    display: none; /* Hide the mobile menu button for now */
}

.mobileLinks {
    display: none; /* Hide the mobile links for now */
}

.logout {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    color: white;
}

.login {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    color: white;
}

.toggleButton {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.themeToggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: 24px;
    margin-left: 20px; /* Adjust spacing as needed */
    display: flex;
    align-items: center;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white; /* Change color as needed */
}

.username {
    color: white;;
    font-weight: bold;
}

.avatarContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.avatarButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.avatar {
    border-radius: 50%;
}

.dropdownMenu {
    position: absolute;
    top: 110%; /* Adjust this value to lower the dropdown */
    right: 0;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}

.dropdownItem {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #f1f1f1;
}
