.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.webLinks {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menuButton {
    display: none; /* Hide the mobile menu button for now */
}

.mobileLinks {
    display: none; /* Hide the mobile links for now */
}

.logout {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    color: white;
}

.login {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    color: white;
}

.toggleButton {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.themeToggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: 24px;
    margin-left: 20px; /* Adjust spacing as needed */
    display: flex;
    align-items: center;
}
