.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.webLinks {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menuButton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.mobileLinks {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.mobileLinkItem {
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.mobileLinkItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.logout {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    color: white;
}

.login {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    color: white;
}

.toggleButton {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.themeToggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: 24px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.username {
    color: white;
    font-weight: bold;
}

.avatarContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.avatarButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.avatar {
    border-radius: 50%;
}

.dropdownMenu {
    position: absolute;
    top: 110%;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    width: 50vw; /* Set width to half of the viewport width */
}

.dropdownItem {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.dropdownItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
    .webLinks {
        display: none;
    }
    .menuButton {
        display: block;
    }
    .mobileLinks {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }
}
