.container {
    /*background-color: blueviolet;*/
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}
