.container {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Change to fixed for scroll effect */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
    padding: 0 20px; /* Add padding */
    background: linear-gradient(to bottom, transparent, transparent); /* Default transparent gradient */
}

.logo {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent background */
    color: white; /* White color */
    padding: 5px 20px; /* Increased padding for more width */
    border-radius: 5px;
}

.logoThin {
    font-size: 30px;
    font-weight: 300; /* Thin font weight */
}

.logoBold {
    font-size: 30px;
    font-weight: bold; /* Bold font weight */
    color: red;
    margin-left: 5px; /* Add space between My and flix */
}

/*.scrollLight {*/
/*    background: rgba(255, 255, 255, 0.5); !* White with transparency *!*/
/*    color: black; !* Change text color for visibility *!*/
/*    border: 2px solid #000;*/
/*}*/

.scrollDark {
    background: rgba(0, 0, 0, 0.5); /* Black with transparency */
    color: white; /* Change text color for visibility */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Dark shadow */
}

.light {
    background: linear-gradient(to bottom, white, transparent);
}

.dark {
    background: linear-gradient(to bottom, black, transparent);
}
